<div class="card">
  <div class="card-header pointer" id="h_{{& id}}" data-toggle="collapse" data-target="#c_{{& id}}" aria-expanded="false" aria-controls="c_{{& id}}">
    {{& name}}
  </div>
  <div id="c_{{& id}}" class="collapse" aria-labelledby="h_{{& id}}" data-parent="#accordion">
    <div class="card-body">
    	<div class="row">
			<div class="col">
				<div style="height: 14px;">
					<canvas id="chart_{{& id}}"></canvas>
				</div>
				<script type="text/javascript">
					barData = {
							labels: ["2014"],
							datasets: [
								{{#each contribs }}
								{
									data: [{{ this }}],
									backgroundColor: "{{ randomRGBA }}",
								},
								{{/each}}
							]
						};

					barOptions = {
						responsive: true,
						maintainAspectRatio: false,
						tooltips: {
							enabled: false,
						},
						scales: {
							xAxes: [{
								ticks: {
									display:false
								},
								scaleLabel:{
									display:false
								},
								gridLines: {
									display:false,
									zeroLineWidth: 0
								},
								display: false,
								stacked: true
							}],
							yAxes: [{
								ticks: {
									display:false
								},
								scaleLabel:{
									display:false
								},
								gridLines: {
									display:false,
								},
								display: false,
								stacked: true
							}]
						},
						legend:{
							display:false
						},
					};

					ctx = document.getElementById("chart_{{& id}}");
					barChart = new Chart(ctx, {
						type: 'horizontalBar',
						data: barData,
						options: barOptions,
					});
				</script>
			</div>
    	</div>
    	<div class="row">
			{{& content}}
		</div>
    </div>
  </div>
</div>