
<script type="text/javascript" src="js/chart.min.js"></script>

<div class="graph_container">
  <canvas id="Chart1"></canvas>
</div>
<script type="text/javascript">
  var barOptions_stacked = {
    tooltips: {
      enabled: true,
    },
    scales: {
      xAxes: [{
        ticks: {
          display:false
        },
        scaleLabel:{
          display:false
        },
        gridLines: {
          display:false,
        }, 
        stacked: true
      }],
      yAxes: [{
        gridLines: {
          display:false,
        },
        scaleLabel:{
          display:false
        },
        ticks: {
          display:false
        },
        stacked: true
      }]
    },
    legend:{
      display:false
    },
  };

  var ctx = document.getElementById("Chart1");
  var myChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
      labels: ["2014"],
      datasets: [
      {
        data: [29],
        backgroundColor: "#c15e00",
      },
      {
        data: [37],
        backgroundColor: "#01d643",
      },
      {
        data: [2],
        backgroundColor: "#6f0832",
      },
      {
        data: [8],
        backgroundColor: "#bca70a",
      },
      {
        data: [2],
        backgroundColor: "#610daa",
      },
      {
        data: [1],
        backgroundColor: "#012a08",
      },
      {
        data: [2],
        backgroundColor: "#c50f90",
      },
      {
        data: [1],
        backgroundColor: "#1f1389",
      },
      {
        data: [1],
        backgroundColor: "#69a57a",
      }
      ]
    },
    options: barOptions_stacked,
  });
</script>




    <div class="container">
      <p>Contribution Report</p>
      <hr>
      <h3>{{reportName}}</h3>
      <hr>
      <div>
        {{& cumulativeData}}
      </div>
      <hr />
      <div>
        <div id="accordion">
          {{& fileData}}
        </div>
      </div>
    </div>
